<?xml version="1.0" encoding="UTF-8"?>
	<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
	<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="ml.toufic.secondific" version="1.0.0">
		<name>Secondific</name>
		<description>
																																																																								  Todofic is a free and simple application that will calculate and show you how many seconds you lived till now!
																																															    </description>
		<author href="http://toufic.ml" email="contact@toufic.ml">
																																																																								  Toufic Batache
																																															    </author>
		<!-- Define the main entry-point to the application -->
		<content src="index.html"/>
		<!-- Customize your app and platform with the preference element. -->
		<preference name="DisallowOverscroll" value="true"/>
		<!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
		<!-- Define a specific version of PhoneGap to build into your app. -->
		<!-- Plugins -->
		<!-- Core plugins -->
		<plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2"/>
		<plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0"/>
		<!-- Define app icon and splashscreen for each platform. -->
		<access origin="*"/>
		<allow-intent href="http://*/*"/>
		<allow-intent href="https://*/*"/>
		<allow-intent href="tel:*"/>
		<allow-intent href="sms:*"/>
		<allow-intent href="mailto:*"/>
		<allow-intent href="geo:*"/>
		<platform name="android">
			<allow-intent href="market:*"/>
		</platform>
		<platform name="ios">
			<allow-intent href="itms:*"/>
			<allow-intent href="itms-apps:*"/>
			<preference name="enabled" value="false"/>
		</platform>
		<plugin name="com.ludei.installlocation.android" spec="*"/>
		<preference name="android-installLocation" value="auto"/>
		<plugin name="cordova-plugin-translucent-statusbar" spec="*"/>
		<preference name="CocoonSplashBackgroundColor" value="#ffffff"/>
		<preference name="CocoonSplashPadding" value="30%"/>
		<plugin name="cocoon-plugin-notifications-android-local" spec="*"/>
		<plugin name="https://github.com/floatinghotpot/cordova-admob-pro.git" spec="https://github.com/floatinghotpot/cordova-admob-pro.git"/>
	</widget>
